<div class="row">
  <!--<a [routerLink]="['/donationdetails', donation._id]">-->
  <div *ngFor="let donation of myDonations" class="col-sm-3 padding-top10">
    <div class="card">
      <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
      <div class="avatar">
        <img src="{{donation.imageUrl}}" alt="myImage">
      </div>
      <div class="content">
        <p>{{donation.obj.itemName}} <br> {{donation.obj.email}}<br>{{donation.dis | number:0}} miles
        </p>
        <p><button type="button" class="btn btn-default" [routerLink]="['/donationdetails', donation._id]">Contact</button></p>
      </div>
    </div>
  </div>
</div>