<div class="row">
  <div class="col-md-8">
    <app-donation [Donation] = "donateEvent" [Type]="3"></app-donation>
  </div>
  <div class="col-md-4 col-xs-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">WANT TO MAKE A DONATION? GO AHEAD!</h3>
      </div>
      <div class="panel-body">
        <form class="" [formGroup]="donationForm">

          <div class="form-group">
            <label for="itemName">Item Name:</label>
            <input class="form-control" type="text" id="itemName" [formControl]="donationForm.controls['itemName']" />
            <p *ngIf="!donationForm.controls['itemName'].valid">Item name is required</p><br>
          </div>
          <div class="form-group">
            <label>Category:</label>
            <select class="form-control" [formControl]="donationForm.controls['category']">
            <option value = "default"></option>
            <option value = "vehicle">Vehicle</option>
            <option value = "furniture">Furniture</option>
            <option value = "clothes">Clothes</option>
            <option value = "other">Other</option>
        </select>
          </div>
          <div class="form-group">
            <label>Short Description:</label>
            <textarea placeholder="Short Description" class="form-control" name="shortDescription" [formControl]="donationForm.controls['shortDescription']"></textarea>
          </div>

          <div class="form-group">
            <label>Item Details:</label>
            <textarea placeholder="Item Details" class="form-control" name="itemDetails" [formControl]="donationForm.controls['itemDetails']"></textarea>
          </div>

          <div class="form-group">
            <label>Email:</label>
            <input placeholder="Email" class="form-control" type="text" name="email" [formControl]="donationForm.controls['email']" />
            <p *ngIf="!donationForm.controls['email'].valid">Email is required</p><br>
          </div>

          <div class="form-group">
            <label>Phone(Optional):</label>
            <input placeholder="Phone" class="form-control" type="text" name="phone" [formControl]="donationForm.controls['phone']" /><br>
          </div>
          <div class="form-group">
            <div class="col-md-6 padding-left0">
              <label>State:</label>
              <input placeholder="State" class="form-control" type="text" name="state" [formControl]="donationForm.controls['state']" />
              <p *ngIf="!donationForm.controls['state'].valid">State is required</p><br>
            </div>
            <div class="col-md-6 padding-right0">
              <label>City:</label>
              <input placeholder="City" class="form-control" type="text" name="city" [formControl]="donationForm.controls['city']" />
              <p *ngIf="!donationForm.controls['city'].valid">City is required</p><br>
            </div>
          </div>
          <input  type="hidden" name="long" formControlName="long" #long]>
          <input  type="hidden" name="lat" [formControl]="donationForm.controls['lat']" #lat>

          <div class="form-group">
            <label>Upload Image File:</label>
            <input type="file" (change) = "onChange($event)" accept="image/*"  [formControl]="donationForm.controls['image']" />
            <input  type="hidden" name="imageBase64" [formControl]="donationForm.controls['imageBase64']"><br>
          </div>

          <button type="button" (click) = "addDonation()" class="btn btn-primary" [disabled]="!donationForm.valid">DONATE!</button>
        </form>
      </div>
    </div>
  </div>
</div>