.myDonations{
    display: inline-block;
    width:200px;
    height:150px;
    border: 2px solid;
    border-radius: 10px;
    margin: 20px;
    padding: 10px 0px 10px 0px;
}
.myDonations a img {
    width:100%;
    height: 60%;
}

.myDonations a p {
    color: grey;
    font-size: 11px;
    margin: 5px 0px 0px 5px;
}

.newDonationDiv{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    padding:15px;
}