<header class="topBanner">
  <!--class="topBanner"-->
  <div class="container">
    <!--<nav>
      <ul class="nav navBar nav-left">
        <li>
          <span><i class="fa fa-recycle"></i> <strong> Free Recycling</strong> - CS572 Modern Web Application </span>
        </li>
      </ul>
      <ul class="nav navBars">
        <li>
          <button type="button" ng-click="collapse()"><i class="fa fa-bars"></i></button>
        </li>

      </ul>
      <ul class="nav navBar nav-left" ng-class="activeClass" data-menu-highlighter data-highlight-class-name="active">
        <li>
          <a [routerLink]="['']" routerLinkActive="active">State</a> </li>
        <li>
          <a [routerLink]="['nearby']" routerLinkActive="active">Near By</a> </li>
        <li>
          <a [routerLink]="['mydonate']" routerLinkActive="active">My Donation</a>
        </li>
      </ul>
    </nav>-->
    <nav class="nav navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">
            <span><i class="fa fa-recycle"></i> <strong> Free Recycling</strong></span>
          </a>
        </div>

        <div id="navbar" class="navbar-collapse collapse" [collapse]="isCollapsed">
          <ul class="nav navbar-nav">
            <li>
              <a [routerLink]="['']">State<span class="sr-only">(current)</span></a>
            </li>
            <li>
              <a [routerLink]="['nearby']">Near By<span class="sr-only">(current)</span></a>
            </li>
            <li>
              <a [routerLink]="['mydonate']">My Donation<span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <ul class="nav nav navbar-right">
            <li dropdown keyboardNav="true">
              <a href class="dropdown-toggle" role="button" aria-expanded="false" dropdownToggle>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Andrew Duncan
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li role="menuitem"><a class="dropdown-item" [routerLink]="['']">State<span class="sr-only">(current)</span></a></li>
                <li role="menuitem">
                  <a class="dropdown-item" [routerLink]="['nearby']">Near By<span class="sr-only">(current)</span></a>
                </li>
                <li role="menuitem"><a class="dropdown-item" [routerLink]="['mydonate']" routerLinkActive="active">My Donation<span class="sr-only">(current)</span></a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<div>
  <div class="appContent">
    <div class="container">
      <div class="slide-animation">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">Copyright © Thanh, Utku and Sunil MUM students. All rights reserved.
  </div>
</footer>